<div class="container text-center">
  <div style="display: inline-block;">
    <h3><span class="glyphicon glyphicon-info-sign"></span> Credits</h3>
    <ul class="text-left">
      <li>The player is powered by <a href="http://phosphorus.github.io">phosphorus</a> (MIT)</li>
      <li>It runs natively using <a href="https://github.com/electron/electron">electron</a> (Copyright)</li>
      <li>It uses a hacked version of MegaApuTurkUltra's <a href="http://codepen.io/MegaApuTurkUltra/pen/pvYWRK">Scratch Project Backup</a></li>
      <li>The packager runs on Heroku</li>
      <li>Everthing else is by Airhogs777 and MegaApuTurkUltra. Find the source on <a href="https://github.com/Airhogs777/photron">GitHub</a>.</li>
    </ul>
  </div>
</div>
