body {
  margin: 0;
}
.controls {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 32px;
  background: #ddd;
  -webkit-app-region: drag;
}
.controls span,
.project-link {
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  text-align: center;
  opacity: .6;
  background-image: url(icons.svg);
  text-decoration: none;
}
.controls .flag {
  background-position: 0 0;
}
.controls .stop {
  background-position: -96px 0;
}
.controls .pause {
  background-position: -32px 0;
}
.controls .play {
  background-position: -64px 0;
}
.controls .full-screen {
  float: left;
  background-position: -128px 0;
}
.controls .close {
  float: left;
  background-position: 0 -32px;
}
.controls span:active,
.project-link:active {
  opacity: 1 !important;
}
.controls .turbo {
  float: right;
  display: none;
  cursor: default;
  color: rgba(0, 0, 0, .4);
  font: 500 12px/32px Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 8px;
}
.player {
  width: 480px;
  height: 360px;
  margin-top: 32px;
  position: relative;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.internal-error {
  color: rgba(128, 0, 0, .6);
  font: 500 12px Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 8px;
  display: none;
  position: absolute;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: #fff;
  box-shadow: 0 -1px rgba(0, 0, 0, .4);
}
.internal-error a {
  color: rgba(128, 0, 0, .8);
}

.fs {
  background: #000;
  width: 100%;
  height: 100%;
}
.fs body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fs .title,
.fs section {
  display: none;
}
.fs .controls span,
.light-content .controls span {
  background-position-y: -32px;
  opacity: .6;
}
.light-content .controls .full-screen {
  background-position-y: -64px;
}
.fs .light-content .controls .full-screen {
  background-position-y: -32px;
}
.fs .controls .turbo,
.light-content .controls .turbo {
  color: rgba(255, 255, 255, .6);
}
.fs .player {
  box-shadow: none;
}
